{% extends 'common.html' %}

{% block content %}
  <div class="company-login">
    <div class="login-container">
      <h2>Password Reset Company</h2>
      {% if messages %}
        {% for message in messages %}
        {% if message.tags == "error" %}
          <div class="alert">
            <p>{{ message }}</p>
          </div>
        {% else %}
          <div class="card text-white pt-2 bg-success" >
            <p>{{ message }}</p>    
            </div>
        {% endif %}
        {% endfor %}
      {% endif %}
      <form method="POST" action="{% url 'company_forgot_password' %}">
        {% csrf_token %}

        {% if step == '1' %}
          <input type="email" name="email" placeholder="Email ID" required />
          <input type="hidden" name="step" value="2" />
          <div class="secondary-option">
            <a href="{% url 'seeker_login' %}">Login</a>
          </div>
          <button type="submit" name="action" value="send_otp">Send OTP</button>
        {% elif step == '2' %}
          <input type="email" name="email" placeholder="Email ID" readonly value="{{ email }}" required />
          <input type="text" name="otp" placeholder="Enter OTP" />
          <input type="hidden" name="step" value="3" />

          <button type="submit" name="action" value="verify_otp_and_login">Verify OTP & Login</button>

          <button type="submit" name="action" value="resend_otp" style="margin-top: 10px;">Resend OTP</button>
        {% elif step == '3' %}
          <input type="email" name="email" placeholder="Email ID" readonly value="{{ email }}" required />
          <input type="hidden" name="step" value="4" />
          <input type="text" name="password" placeholder="Enter New Password" />
          <input type="password" name="cpassword" placeholder="Confirm New Password" />
          <button type="submit" name="action" value="change_password" style="padding-top: 10px;">Change password</button>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
